* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: lightblue;
}

.app-title {
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
  color: blue;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  height: 75vh;
}
